[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
.vscode/
TestResults/
[Bb]uild[Ll]og.*

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*

Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
*.cache
*.temp
*.tmp
*.wait
*.log
*.pfx
*.publishsettings
.idea/
*.sln.iml

appsettings.Development.json
appsettings.Local.json

.dotnet/
.tools/
.nupkg
*.nupkg
